/* .homeContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../public/images/Spectrum-Gradient.svg');
    background-size: cover;
    padding: 10px;
}

.header {
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  padding: 10px;
}

.greeting {
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
}

.cardWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
 */
